<a href="https://colab.research.google.com/github/A01734921/Clase-Visualizaci-n-de-Datos/blob/main/Clase2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
path= "https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv"

In [6]:
import pandas as pd

In [16]:
df = pd.read_csv(path)
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,0
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [17]:
df = pd.read_csv(path)
df.tail()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
20,21,23,M,2,Y,1,69.0,67.0,66,N,0,2
21,22,29,M,2,N,0,71.0,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.0,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.0,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.0,63.0,67,N,0,3

In [18]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [19]:
df.shape

(25, 12)

In [20]:
cols= df.columns
cols

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [21]:
type(cols)

pandas.core.indexes.base.Index

In [25]:
cols= cols.to_list()
#.sort()
type(cols)

list

In [27]:
cols.sort()

In [28]:
cols

['Age',
 'CWDistance',
 'Complete',
 'CompleteGroup',
 'Gender',
 'GenderGroup',
 'Glasses',
 'GlassesGroup',
 'Height',
 'ID',
 'Score',
 'Wingspan']

In [30]:
df.Height

0     62.00
1     62.00
2     66.00
3     64.00
4     73.00
5     75.00
6     75.00
7     65.00
8     74.00
9     63.00
10    69.50
11    62.75
12    65.00
13    61.50
14    73.00
15    71.00
16    61.50
17    66.00
18    70.00
19    68.00
20    69.00
21    71.00
22    70.00
23    69.00
24    65.00
Name: Height, dtype: float64

In [31]:
type(df.Height)

pandas.core.series.Series

In [32]:
df["Height"]

0     62.00
1     62.00
2     66.00
3     64.00
4     73.00
5     75.00
6     75.00
7     65.00
8     74.00
9     63.00
10    69.50
11    62.75
12    65.00
13    61.50
14    73.00
15    71.00
16    61.50
17    66.00
18    70.00
19    68.00
20    69.00
21    71.00
22    70.00
23    69.00
24    65.00
Name: Height, dtype: float64

In [33]:
type(df["Height"])

pandas.core.series.Series